#Temporal relation Properties
#The range is [generated_properties_min_start, generated_properties_max_end)
generated_properties_min_start=1
generated_properties_max_end=5000001
include_compositions=false
models_directory=models/debugger/models2015
log_out_directory=expr_output
working_directory=relational_props
temporary_directory=relational_props/tmp
relational_properties=models/debugger/models2015/relational_properties.als
relational_properties_tagged=models/debugger/selftagged/relational_properties_tagged.als
temporal_properties_tagged=models/debugger/selftagged/temporal_properties_tagged.als
alloy_processes_number=1
analyzer_processes_number=1
hola_example_finder_processes_number=1
remote_monitor_interval=20000
remote_timeout_retry=2
#Number of milliseconds that an Alloy processing Unit should be done
alloy_prcessing_timeout=60000
process_logger_config=resources/java.logger.remote.config
sub_memory=2048
sub_stak=4096
self_monitor_interval=4000
#A runner is periodically monitors the threads and prints the report in console.
monitoring_report_period=10000
#After #self_monitor_retry_attempt attempts on failure the executing Alloy code or sending liveness message, the process kills itself
self_monitor_retry_attempt=3
liveness_interval=8000
liveness_max_fail=2
max_alloy_executer_intterupts=5
#unused.
self_monitor_done_ratio=1
min_port=49154
max_port=65535
min_port_offset=100
max_feed_treashold=5000
is_resume_processing=false
reporter_refresh_rate=5000
#if the file is empty to the path is incorrect, then all properties are generated to be checked.
processing_filter=relational_props/redo.csv
doVAC=false
doIFF=false
doIMPLY=true
doAND=false
#The agent rewrite the files already exist on the disk
is_rewrite_enable_on_agent=false
do_clean_source_after_computation=false
do_log_on_file=false
do_log_on_db=false
doCompressAlloyParams=true
#Database information for logging
db_file_root=/Users/vajih/Documents/workspace-git/alloy/db
db_file_name_candidate=alloy_h_db_props_%t
jdbc_max_pool_size=1
jdbc_max_increament_size=1
db_renew=true
db_name_lists=db/db_list.txt
db_user=temporal
db_password=UWaterloo
db_address=rsg-pc149.cs.uwaterloo.ca
db_table_name_candidate=alloy_h_props_%t
db_table_renew=true
#There is a cap on the Alloyfeeder's buffer. If the cap is 0, it will be unlimited. The number is number of object not bytes.
alloy_feeder_buffer_size=100000
alloy_feeder_backlog_buffer_size=0
db_cleaners=5
kb_folder=models/debugger/knowledge_base
kb_modules=binary_implication.als;property_structure.als
tobe_analyzed_file_path=models/debugger/hierarchical/ternary.als
prevent_generation_duplication=true
kb_temporal_legend=models/debugger/knowledge_base/temporal_kb/csv/legends.new.csv
kb_temporal_imply=models/debugger/knowledge_base/temporal_kb/csv/implies.new.csv
kb_temporal_iff=models/debugger/knowledge_base/temporal_kb/csv/iff.new.csv
kb_temporal_incon=models/debugger/knowledge_base/temporal_kb/csv/incons.new.csv
kb_structural_legend=models/debugger/knowledge_base/strutural_kb/csv/legends.csv
kb_structural_imply=models/debugger/knowledge_base/strutural_kb/csv/implies.csv
kb_structural_iff=models/debugger/knowledge_base/strutural_kb/csv/iff.csv
kb_structural_incon=models/debugger/knowledge_base/strutural_kb/csv/incons.csv
temporal_priority_cache=tmp/testing/temporal_priority_cache.csv
